<section class="routine-card" data="{{this.id}}">
  <div class="routine-section">
    <div class="routine-title">
      <h5>{{this.name}}</h5>
      <h6 class="px-2">{{formatDate this.date}}</h6>
    </div>
    <div class="routine-info">
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>{{routineLength time_start time_end}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Minutes</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>750kcal</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Est. Calories</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>{{exercises.length}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Exercises</p>
        </div>
      </div>
    </div>
  </div>
  <div class="target-section">
    <div class="target-title">
      <h5>Targets</h5>
    </div>
    <div class="target-info">
      {{#each exercises}}
        <div>{{this.target}}</div>
      {{/each}}
    </div>
  </div>
</section>