<div class="card" style="width: 18rem;">
  <img src={{gifUrl}} class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{target}} :: {{bodyPart}}</p>
    <button
      onclick="handleAddToRoutine({target:'{{target}}', id:'{{id}}', exercise_name:'{{name}}', image:'{{gifUrl}}'})"
      href="#"
      class="btn btn-primary"
    >Add to routine</button>
  </div>
</div>