<section class="profile-card">
  <section class="profile-name">
    <div class="profile-padding">
      <a href="https://placeholder.com">
        <img src="https://via.placeholder.com/150" />
      </a>
    </div>
    <div>{{user.firstName}}
      {{user.lastName}}</div>
  </section>
  <section class="user-details">
    <div class="profile-info-card">
      <h6 class="profile-info">Age</h6>
      <p class="profile-info">{{user.age}}</p>
    </div>
    <div class="profile-info-card">
      <h6 class="profile-info">Height</h6>
      <p class="profile-info">{{user.height}}cm</p>
    </div>
    <div class="profile-info-card">
      <h6 class="profile-info">Weight</h6>
      <p class="profile-info">{{user.weight}}kg</p>
    </div>
  </section>
</section>
<section class="user-goals">
  <div class="profile-padding">
    <h5>Goals</h5>
  </div>
  <div class="profile-padding">Sleep</div>
  <div class="profile-padding">Running</div>
  <div class="profile-padding">Loose Weight</div>
</section>