<div class="routine-exercise-card-container">
  <h2 class="card-title">{{exercise.exercise_name}}</h2>
  <img src="https://via.placeholder.com/450x300" alt="" />
  <div class="card-container">
    <p class="card-description text-center">{{exercise.type}}</p>
    <p class="card-description text-center">
      {{exercise.description}}
    </p>
    <div class="card-description">
      {{#each exercises}}
        <div class="text-center">{{this.target}}</div>
      {{/each}}
    </div>
    <div class="d-flex justify-content-center delete-btn-container">
      <button type="button" class="btn btn-danger" data-id="{{exercise.id}}">
        Remove Exercise
      </button>
    </div>
  </div>
</div>