<section class="routine-card">
  <div class="routine-section">
    <div class="routine-title">
      <div>
        <button class="btn-routine-title" id="routine-btn" data-id={{id}}>
          {{name}}
        </button>
      </div>
      <h6 class="px-2">
        Created by:
        {{user.first_name}}
        {{user.last_name}}</h6>
    </div>
    <h5 class="routine-date-card text-center align-middle">{{formatDate
        date
      }}</h5>
    <div class="routine-info">
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4 class="info-h4">
            {{routineLength time_start time_end}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Minutes</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4 class="info-h4">750kcal</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Est. Calories</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4 class="info-h4">{{exercises.length}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Exercises</p>
        </div>
      </div>
    </div>
  </div>
  <div class="target-section">
    <div class="target-title">
      <h5 class="targets-h5">Targets</h5>
    </div>
    <div class="target-info">
      {{#each exercises}}
        <div>{{this.target}}</div>
      {{/each}}
    </div>
  </div>
</section>