<section class="routine-card mb-4">
  <div class="routine-section">
    <div class="routine-title">
      <button class="btn-routine-title" id="routine-btn" data-id={{id}}>
        <h5>Routine Name 1</h5>
      </button>
      <h6 class="date-h6">{{formatDate createdAt}}</h6>
    </div>
    <div class="routine-info">
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>{{routineLength time_start time_end}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Minutes</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>750kcal</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Est. Calories</p>
        </div>
      </div>
      <div class="routine-info-card">
        <div class="routine-info-card-content">
          <h4>{{exercises.length}}</h4>
        </div>
        <div class="routine-info-card-title">
          <p>Exercises</p>
        </div>
      </div>
    </div>
    <h5 class="card-title text-center align-middle">Created by:
      {{user.first_name}}
      {{user.last_name}}
    </h5>
  </div>
  <div class="target-section">
    <div class="target-title">
      <h5 class="targets-h5">Targets</h5>
    </div>
    <div class="target-info">
      <div>Arms</div>
      <div>Legs</div>
      <div>Chest</div>
    </div>
  </div>
</section>